@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "navbar navbar" "sidebar main";
    background: linear-gradient(135deg, #3D1F4B, #069c9c, #001F3F );
    background-size: cover; 
    background-position: center; 
    font-family: 'Roboto', sans-serif;

}

nav {
    display: block;
    position: sticky;
    grid-area: navbar;
    color: rgb(255, 0, 0);
    padding: 11px;
    z-index: 100;
    align-items: end;
    transition: padding-left 0.3s ease; 
    Z-INDEX: 2;
    position: fixed; 
    top: 0; 
    left: 0; 
}

aside {
    top: -10px;
    grid-area: sidebar;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    padding: 10%;
    text-align: center;
    transition: transform 0.3s ease;
}

.row button {
    font-size: 18px;
    border: none; 
    border-radius: 8px; 
    margin: 11px; 
    padding: 11px 30px; 
    background:  rgba(255, 255, 255, 0.3);
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.row button:hover {
    background: linear-gradient(145deg, #2c2c2c, #1c1c1c); 
    transform: translateY(-2px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3); 
}

.row button:active {
    transform: scale(1.1); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}



.row button.selected {
    transform: scale(1.2);
    background: linear-gradient(145deg, #3b3b3b, #4b4b4b); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); 
    transition: all 0.2s ease; 
} 

main {
    grid-area: main;
}

.hidden {
    display: none;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        Z-INDEX: 2;
        width: 250px; 
        position: fixed; 
        top: 0; 
        left: 0; 
        height: 100%; 
        display: none; 
    }

    nav {
        display: block;
        padding: 1em;
    }

    main {
        margin-left: 0; /* Reset margin */
    }

    #navbarBtn {
        display: block; /* Ensure toggle button is visible */
        /* padding-left: 250px; */
        background-color: #000000;
    }

    .show {
        display: block;
    }
}

main {
    grid-area: main;
    transition: margin-left 0.3s ease;
}


#navbarBtn {
    font-size: x-large;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 10px 20px; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    cursor: pointer; 
}

/* Add hover effect */
#navbarBtn:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(1.05); 
}

/* Optional: active state */
#navbarBtn:active {
    transform: scale(0.95); 
}


.start_quiz {
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(10px); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255, 0.5); 
    padding: 20px 30px; 
    color: #ffffff; 
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}

.start_quiz:hover {
    background: rgba(10, 10, 10, 0.8); 
    color: #ffffff; 
    transform: translate(-50%, -50%) scale(1.05); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); 
}

.start_quiz:active {
    transform: translate(-50%, -50%) scale(0.95); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 800px) {
    .start_quiz {
        left: 50%;
    }
}

.inactive {
    display: none;
}

.disabled {
    pointer-events: none;
}

.Time {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.timerr {
    display: flex;
    justify-content: space-around;
    width: 202px;
    align-items: center;
    background: #e4f8ec;
    border: 2px solid #e4f8ec;
    border-radius: 40px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 30px;
}

.Time .time_line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    background: #e4f8ec;
    margin-top: 50px;
    margin-bottom: 10px;
}

.Iocn-flag .fa-solid {
    columns: white;
    font-size: 30px;
    padding: 10%;
}

/* css to display warming  */
.warning {
    text-align: center;
    font-size: 44px;
    margin-top: 11%;
    margin-left: 11px;
    margin-right: 11px;
    color: #ffcc00;
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 204, 0, 0.5);
}

.warning-section {
    text-align: center;
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px; 
    border-radius: 10px; 
    border: 1px solid rgba(255, 204, 0, 0.5);
    margin: 20px; 
    color: #ffcc00;
}

.warning-section div {
    margin-bottom: 10px; 
    font-size: 22px; 
}

.warning-section div:first-child {
    font-size: 33px; 
    font-weight: bold; 
}


.otp_container {
    background: rgba(42, 42, 42, 0.7);
    border: 1px solid rgba(255, 204, 0, 0.5);    
    border-radius: 10px;   
    padding: 20px;  
    margin-top: 20px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);   
    backdrop-filter: blur(10px);         
}

.otp_container h5 {
    margin-bottom: 15px;
    color: #ffcc00;
}

.otp_container label {
    display: block;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.otp_container input {
    width: 60%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(60, 60, 60, 0.8);
    color: #e0e0e0;
    font-size: 18px;
    text-align: center;
}

.otp_container button {
    background-color: rgba(255, 204, 0, 0.9);
    color: #121212;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.otp_container button:hover {
    background-color: rgba(230, 184, 0, 0.9);
}


@media (max-width: 800px) {
    .quiz-box {
        top: 60%;
        left: 42%;
    }
}

.quiz-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    margin: 30px;
    padding: 60px 20px;
    width: 100%;
    max-width: 650px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.quiz-box h1, .quiz-box h2 {
    color: #fff; /* Adjust text color for contrast */
}

.quiz-box .option {
    color: white;
    text-align: center;
    font-size: 18px;
    font-size: min(15px);
    border: 2px solid #000000;
    margin: 20px 0;
    padding: 12px 15px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.5); 
    background: rgba(255, 255, 255, 0.2); 
    transition: all 0.3s;
}

.quiz-box .option:hover {
    background: rgba(255, 255, 255, 0.3); 
}

.quiz-footer {
    margin-top: 50px;
    padding-top: 30px;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.5); 
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: #fff; 
}

.quiz-box .fa-flag {
    color: white;
} 

.quiz-box .option.correct {
    background: rgb(157, 246, 157);
    color: rgb(6, 138, 28);
    border-color: rgb(6, 138, 28);
}

.quiz-box .option.incorrect {
    background: rgb(241, 153, 153);
    color: rgb(184, 12, 12);
    border-color: rgb(184, 12, 12);
}

.quiz-box .option.skip {
    background: rgb(124, 164, 238);
    color: rgb(68, 128, 240);
    border-color: rgb(31, 80, 170);
}

.quiz-footer {
    margin-top: 50px;
    padding-top: 30px;
    align-items: center;
    border-top: 2px solid #848080;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.count_ques,
.total_ques {
    font-weight: bolder;
    font-size: 20px;
    font-size: min(18px);
}

.footer-left {
    font-size: 18px;
}

.footer-right {
    display: flex;
}

.next-btn {
    font-size: 18px;
    font-size: min(16px);
    border: 2px solid #e0e0e0;;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.next-btn:hover {
    background: #000000;
    color: #ffffff;
}

.skip-btn {
    font-size: 18px;
    font-size: min(16px);
    border: 2px solid #e0e0e0;;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.skip-btn:hover {
    background: #e0e0e0;;
    color: #ffffff;
}

.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #777;
    width: 100%;
    width: min(85%);
    max-width: 450px;
    background: rgba(0, 0, 0, 0.5);
}

.result-box h2 {
    font-size: 36px;
    font-size: min(30px);
    background: #fff;
    color: #000000;
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
}

.result-box .result {
    padding: 40px;
}

.result-box h3 {
    font-size: 30px;
    font-size: max(25px);
    margin-bottom: 10px;
}

.result-footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.result-footer .again-quiz,
.result-footer .exit,
.result-footer .show-answers {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    transition: all 0.3s;
}

.result-footer .again-quiz {
    background: #daeffc;
    color: #000000;
    border-color: #daeffc;
    cursor: pointer;
}

.result-footer .again-quiz:hover {
    background: #fff;
    color: #000000;
    border-color: #fff;
}

.result-footer .exit {
    background: #fff;
    color: #000000;
    border-color: #fff;
    cursor: pointer;
}

.result-footer .exit:hover {
    background: #daeffc;
    color: #000000;
    border-color: #daeffc;
}


/* css code to display question qa-section */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #2c2c2c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #444;
    width: 80%;
    color: #f0f0f0;
}

.answer-block {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3c3c3c;
}

.toggle-answer {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-answer:hover {
    background-color: #0056b3;
}

.answer-details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #777;
}

.inactive {
    display: none;
}

.answers-display {
    margin-top: 55px;
}

.close {
    color: #bbb;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

