@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "navbar navbar" "sidebar main";
    background: white;
    /* background:linear-gradient(90deg, rgba(40, 0, 36, 1) 10%, rgb(208, 104, 224) 35%); */
    font-family: 'Roboto', sans-serif;
}

nav {
    display: none;
    top: 0;
    position: sticky;
    align-self: start;
    grid-area: navbar;
    background-color:rgba(29, 28, 28, 0.5);
    color: rgb(255, 0, 0);
    padding: 1em;
}

aside {
    position: sticky;
    grid-area: sidebar;
    background-color: rgba(29, 28, 28, 0.5);
    color: rgb(255, 255, 255);
    padding: 10%;
    text-align: center;
}

.row button {
    font-size: 18px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px 20px;
    padding: 12px 55px;
    background: #000000;
    color: #fff;
}

main {
    grid-area: main;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        z-index: 2;
        height: calc(100vh - 57px);
        top: 57px;
        position: fixed;
        width: 300px;
        /* background-color: 0000003e; */
        display: none;
        max-height: calc(100vh); 
        overflow-y: auto;
        overflow-x: hidden; 
    }

    nav {
        z-index: 1;
        display: block;
    }

    .show {
        display: block;
    }
}

main {
    grid-area: main;
}


#navbarBtn {
    font-size: x-large;
    /* padding: 4px 44px; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: #ffffff;
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    /* border-radius: 11px; */
    /* box-shadow: 0px 0px 20px rgb(255, 255, 255); */
}

.start_quiz {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    padding: 20px 20px;
    color: #000000;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 888;
    /* font-size: min(15px); */
    cursor: pointer;
    transition: all 0.3s;
}

.start_quiz:hover {
    background: #daeffc;
    color: #000000;
}

@media (max-width: 800px) {
    .start_quiz {
        left: 50%;
    }
}

.inactive {
    display: none;
}

.disabled {
    pointer-events: none;
}

.Time {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.timerr {
    display: flex;
    justify-content: space-around;
    width: 202px;
    align-items: center;
    background: #e4f8ec;
    /* width: 100px; */
    border: 2px solid #e4f8ec;
    border-radius: 40px;
    /* font-size: 20px; */
    padding: 5px;
    margin: 10px;
    margin-bottom: 30px;
}

.Time .time_line {
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 50%; */
    height: 6px;
    background: #e4f8ec;
    margin-top: 50px;
    margin-bottom: 10px;
}

.Iocn-flag .fa-solid {
    font-size: 30px;
    padding: 10%;
}

.warning {
    text-align: center;
    font-size: 44px;
    margin-top: 11%;
    margin-left: 11px;
    margin-right: 11px;
    color: #9b2542;
}

.otp_container {
    /* position: absolute;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #14182f;
    height: 50vh;
    margin: 10px 20px 10px 20px;
    padding: 5%;
    border-radius: 11%;
    margin-right: 11%;
    margin-left: 11%;
    margin-top: 5%;
    color: #fff;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.otp_container button {
    /* width: 222px; */
    font-size: large;
    padding: 8px 44px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 11px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    background: #14182f;
}

* #validOtp {
    width: 222px;
    font-size: 22px;
    text-align: center;
    border: 2px solid #55525c;
    border-radius: 5px;
    background: #0b1230;
    color: #fff;
    padding: 5px;
    /* margin-left: 222px; */
    margin-top: 20px;
    margin-bottom: 20px;

}

#showotp {
    width: 300px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    font-size: 44px;
    padding-top: 11px;
    color: #9b2542;
    justify-content: center;
}

.quiz-box {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #000000;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #777;
    margin: 30px;
    padding: 60px 20px;
    width: 100%;
    max-width: 650px;
    background: rgb(255, 255, 255);
}

@media (max-width: 800px) {
    .quiz-box {
        top: 60%;
        left: 42%;
    }
}


.quiz-box h2 {
    font-size: 35px;
    font-size: min(20px);
}

.quiz-box .option {
    font-size: 18px;
    font-size: min(15px);
    border: 2px solid #000000;
    margin: 20px 0;
    padding: 12px 15px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.quiz-box .option .fa {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 30px;
}

.quiz-box .option.correct {
    background: rgb(157, 246, 157);
    color: rgb(6, 138, 28);
    border-color: rgb(6, 138, 28);
}

.quiz-box .option.incorrect {
    background: rgb(241, 153, 153);
    color: rgb(184, 12, 12);
    border-color: rgb(184, 12, 12);
}

.quiz-box .option.skip {
    background: rgb(124, 164, 238);
    color: rgb(68, 128, 240);
    border-color: rgb(31, 80, 170);
}

/* .quiz-box .option:hover{
    background: #dfdfde;
} */

.quiz-footer {
    margin-top: 50px;
    padding-top: 30px;
    align-items: center;
    border-top: 2px solid #848080;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.count_ques,
.total_ques {
    font-weight: bolder;
    font-size: 20px;
    font-size: min(18px);
}

.footer-left {
    font-size: 18px;
}

.footer-right {
    display: flex;
}

.next-btn {
    font-size: 18px;
    font-size: min(16px);
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.next-btn:hover {
    background: #000000;
    color: #ffffff;
}

.skip-btn {
    font-size: 18px;
    font-size: min(16px);
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.skip-btn:hover {
    background: #000000;
    color: #ffffff;
}

.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #777;
    width: 100%;
    width: min(85%);
    max-width: 450px;
    background: rgba(0, 0, 0, 0.5);
}

.result-box h2 {
    font-size: 36px;
    font-size: min(30px);
    background: #fff;
    color: #000000;
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
}

.result-box .result {
    padding: 40px;
}

.result-box h3{
    font-size: 30px;
    font-size: max(25px);
    margin-bottom: 10px;
}

.result-footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.result-footer .again-quiz,
.result-footer .exit {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    transition: all 0.3s;
}

.result-footer .again-quiz {
    background: #daeffc;
    color: #000000;
    border-color: #daeffc;
    cursor: pointer;
}

.result-footer .again-quiz:hover {
    background: #fff;
    color: #000000;
    border-color: #fff;
}

.result-footer .exit {
    background: #fff;
    color: #000000;
    border-color: #fff;
    cursor: pointer;
}

.result-footer .exit:hover {
    background: #daeffc;
    color: #000000;
    border-color: #daeffc;
}